.w_100 {
    width: 100% !important;
}

.f_l {
    float: left !important;
}

.f_r {
    float: right !important;
}

.order_bar {

    height: 36px !important;
    line-height: 36px !important;
    padding: 0 10px !important;
}

.order_btn {
    height: 33px;
    width: 33px;
}

.m_r_2 {
    margin-right: 3%;
}

.footer_submit_bar {
    background-color: #ffffff !important;
    border-top: 1px solid #e5e5e5 !important;
    position: fixed !important;
    width: 100% !important;
    bottom: 0 !important;
}

.m_b_50 {
    margin-bottom: 50px;
}

.l_0:after {
    left: 0 !important;
}

.b_d_0 {
    border-radius: 0 !important;
}

.footer_bar_msg {
    padding-left: 15px;
    line-height: 42px;
}

.footer_bar_msg span {
    color: #dd6622;
}


