.w_100 {
    width: 100% !important;
}

.f_l {
    float: left !important;
}

.f_r {
    float: right !important;
}

.order_bar {

    height: 36px !important;
    line-height: 36px !important;
    padding: 0 10px !important;
}

.order_btn {
    height: 33px;
    width: 33px;
}

.m_r_2 {
    margin-right: 3%;
}

.footer_submit_bar {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.m_b_50 {
    margin-bottom: 50px;
}

.l_0:after {
    left: 0 !important;
}